name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install -U pip setuptools wheel
          pip install uv
          uv pip install --system -e .
          uv pip install --system pytest coverage pytest-cov
          uv pip list --system


      - name: Run tests & coverage
        run: |
          coverage run -m pytest tests/
          coverage report -m
